@tailwind base;
@tailwind components;
@tailwind utilities;

/* ZMIENNE MOTYWU  */

/* DOMYŚLNIE JASNY */
:root {
  --bg: #f9fafb;
  --bg-panel: #ffffff;
  --bg-main: #f3f4f6;
  --text: #111827;
  --border: #d1d5db;
}

/* CIEMNY MOTYW */
html.dark {
  --bg: #111827;
  --bg-panel: #1f2937;
  --bg-main: #030712;
  --text: #f9fafb;
  --border: #374151;
}

/* GLOBALNE */
body {
  background-color: var(--bg);
  color: var(--text);
}


/* GLOBALNE STYLE */

html,
body,
#root {
  height: 100%;
  background-color: var(--bg-main);
  color: var(--text-main);
}

/* PANELE */
.bg-app {
  background-color: var(--bg-main);
}

.bg-panel {
  background-color: var(--bg-panel);
}

.bg-input {
  background-color: var(--bg-input);
}

/* TEKST */
.text-main {
  color: var(--text-main);
}

.text-muted {
  color: var(--text-muted);
}

/* OBRAMOWANIA */
.border-app {
  border-color: var(--border-color);
}
